{% extends 'base.html.twig' %}

{% block title %}Department Directory{% endblock %}

{% block body %}
    <div id="app">
        <department-directory></department-directory>
    </div>
{% endblock %}

