{% extends 'base.html.twig' %}

{% block title %}Map Application Management{% endblock %}

{% block modulenav %}
  {% include 'map/nav_map.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  <h1 class="display-1">Map app management</h1>
  <app-manage role-prefix="ROLE_MAP_" app-slug="map" app-name="Map App" current-user="{{ app.user.username }}"></app-manage>
</div>


{% endblock %}
