{% extends 'base.html.twig' %}

{% block title %}Department Directory Application{% endblock %}

{% block modulenav %}
  {% include 'directory/nav_directory.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
    <department-index :permissions="[{{ permissions }}]"></department-index>
</div>
{% endblock %} 