{% extends 'base.html.twig' %}

{% block title %}Department List{% endblock %}

{% block modulenav %}
  {% include 'directory/nav_directory.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
    <department-list :permissions="[{{ permissions }}]"></department-list>
</div>
{% endblock %} 