<h3 class="module-nav-heading">Department Directory Application</h3>
<ul class="nav nav-pills module-nav-pills" role="navigation">
  <li class="nav-item">
    <a class="nav-link active" href="/"><i class="fa fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/directory">Department list</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/directory/create">Create new department</a>
  </li>
  {% if is_granted('ROLE_GLOBAL_ADMIN') or is_granted('ROLE_DEPARTMENTS_ADMIN') %}
  <li class="nav-item">
    <a class="nav-link" href="/directory/manage">Manage app</a>
  </li>
  {% endif %}
</ul>
