{% extends 'base.html.twig' %}

{% block title %}DPS Crime Log{% endblock %}

{% block modulenav %}
   {% include 'crimelog/nav_crimelog.html.twig' %}
{% endblock %}

{% block body %}
<h1 class="display-1">DPS Crime Log</h1>
<div id="app">
    <crimelog-item :permissions="[{{ permissions }}]"></crimelog-item>
</div>
{% endblock %}

