{% extends 'base.html.twig' %}

{% block title %}Login to ICCommand{% endblock %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

<h1 class="display-1">Register a new user</h1>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <p style="text-align:justify">As an IC Command admin, you have the ability to create a new user within the system. The <strong>email address</strong> should be the user's emich.edu email. The <strong>username</strong> should be the user's NetID (e.g: johnqpublic@emich.edu's NetID would be johnqpublic). The <strong>password is irrelevant</strong> and can be anything; the user will use their NetID password to enter this site.</p>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card login-card card-accent card-accent-blue" style="width:22rem;">
      <div class="card-body">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
