{% extends 'base.html.twig' %}

{% block title %}Manage Users{% endblock %}

{% block modulenav %}
  {% include 'admin/nav_admin.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  {{ encore_entry_script_tags('app') }}
  <admin-user-manage username="{{ user.username }}" logged-in-user="{{ app.user.username }}"></admin-user-manage>
</div>
{% endblock %}
