{% extends 'base.html.twig' %}

{% block title %}Administration Home{% endblock %}

{% block modulenav %}
  {% include 'admin/nav_admin.html.twig' %}
{% endblock %}

{% block body %}
<h1 class="display-4">Administration Home</h1>
{% endblock %}
