<h3 class="module-nav-heading">Division of Communications – Multimedia Requests</h3>
<ul class="nav nav-pills module-nav-pills" role="navigation">
    <li class="nav-item">
        <a class="nav-link active" href="/multimediarequests"><i class="fa fa-home"></i></a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="/map/items">Item list</a>
    </li>
    {% if is_granted('ROLE_GLOBAL_ADMIN') or is_granted('ROLE_MULTIMEDIA_CREATE') %}
        <li class="nav-item">
            <a class="nav-link" href="/map/items/create">Create new item</a>
        </li>
    {% endif %}
    -->
    {% if is_granted('ROLE_GLOBAL_ADMIN') or is_granted('ROLE_MULTIMEDIA_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link" href="/multimediarequests/headshots/scheduler">Headshot Scheduler</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/multimediarequests/assignees">Assignees</a>
        </li>
    {% endif %}
</ul>
