{# NO LONGER IN USE AS OF 2025 (hadn't been since 2018) - kept for reference #}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}Edit request.{% endblock %}#}

{#{% block modulenav %}#}
{#  {% include 'multimedia_request/nav_multimedia_request.html.twig' %}#}
{#{% endblock %}#}

{#{% block body %}#}
{#<div id="app">#}
{#  {{ encore_entry_script_tags('app') }}#}
{#  <multimedia-request-form :item-exists="true" request-type="{{ requestType }}" start-mode="show" item-id="{{ id }}" :permissions="[{{ permissions }}]"></multimedia-request-form>#}
{#</div>#}
{#{% endblock %}#}
