// Custom variables for ic command. Created by CP 3/26/18
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

/* Colors */
$primary: #027b30;
$primary-light: #2b873b;
$neon: #97D700;
$body-emu: #0a0a0a;
$dark-bkg-emu: #333333;
//$success-emu: #4A6086;
//$success-border-emu: #081A39;
$danger-emu: #FF0033;
$info-emu: #e15915;

//$danger-emu-shadow: rgba(239, 216, 216, 1.0);
