// Custom variables for ic command. Created by CP 3/26/18
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

/* Colors */
$primary: #2e456d;
$success-emu: #4A6086;
$success-border-emu: #081A39;
$danger-emu: #FF0033;
$info-emu: #4A6086;
