{% extends 'base.html.twig' %}

{% block title %}Create a photo request{% endblock %}

{% block modulenav %}
    {% include 'photorequests/nav_photorequests.html.twig' %}
{% endblock %}

{% block body %}
    <h1 class="display-4">Create photo request</h1>
    <div id="app">
        <photorequests-form :permissions="[{{ permissions }}]"></photorequests-form>
    </div>
{% endblock %}