{% extends 'base.html.twig' %}

{% block title %}Photo Requests Manager{% endblock %}

{% block modulenav %}
  {% include 'photorequests/nav_photorequests.html.twig' %}
{% endblock %}

{% block body %}
  <div id="app">
    <photorequests-list :permissions="[{{ permissions }}]"></programs-index>
  </div>
{% endblock %}