<h3 class="module-nav-heading">Photo Request Manager</h3>
<ul class="nav nav-pills module-nav-pills" role="navigation">
  <li class="nav-item">
    <a class="nav-link active" href="/"><i class="fa fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/photorequests">All requests</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/photorequests/create">Create Request</a>
  </li>
  {% if is_granted('ROLE_GLOBAL_ADMIN') or is_granted('ROLE_PHOTO_ADMIN') %}
  <li class="nav-item">
    <a class="nav-link" href="/photorequests/manage">Manage app</a>
  </li>
  {% endif %}
</ul> 