{% extends 'base.html.twig' %}

{% block title %}View Photo Request{% endblock %}

{% block modulenav %}
  {% include 'photorequests/nav_photorequests.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  <photorequests-show :permissions="[{{ permissions }}]" request-id="{{ id }}"></photorequests-show>
</div>
{% endblock %}