{% extends 'base.html.twig' %}

{% block title %}Create a catalog program.{% endblock %}

{% block modulenav %}
  {% include 'programs/nav_programs.html.twig' %}
{% endblock %}

{% block body %}
<h1 class="display-1">Create Catalog Program</h1>
<div id="app">
    new-program component here
{#    <new-redirect-item :permissions="[{{ permissions }}]"></new-redirect-item>#}
</div>
{% endblock %}
