{% extends 'base.html.twig' %}

{% block title %}Degrees & Programs Manager{% endblock %}

{% block modulenav %}
  {% include 'programs/nav_programs.html.twig' %}
{% endblock %}

{% block body %}
  <div id="app">
    <programs-index :permissions="[{{ permissions }}]"></programs-index>
  </div>
{% endblock %}
