{% extends 'base.html.twig' %}

{% block title %}Redirects Application{% endblock %}

{% block modulenav %}
  {% include 'programs/nav_programs.html.twig' %}
{% endblock %}

{% block body %}
  <div id="app">
    index blah blah blah
{#    <redirect-index :permissions="[{{ permissions }}]"></redirect-index>#}
  </div>
{% endblock %}
