{% extends 'base.html.twig' %}

{% block title %}View catalog program.{% endblock %}

{% block modulenav %}
  {% include 'programs/nav_programs.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  program-item-form component here
{#  <redirect-item-form :item-exists="true" item-type="{{ itemType }}" start-mode="show" item-id="{{ id }}" :permissions="[{{ permissions }}]"></redirect-item-form>#}
</div>
{% endblock %}
