{% extends 'base.html.twig' %}

{% block title %}View program website{% endblock %}

{% block modulenav %}
  {% include 'programs/nav_programs.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  website form here
{#  <program-form :prog-exists="true" start-mode="show" prog-id="{{ id }}" :permissions="[{{ permissions }}]"></program-form>#}
</div>
{% endblock %}
