{% extends 'base.html.twig' %}

{% block title %}Edit program website{% endblock %}

{% block modulenav %}
  {% include 'programs/nav_programs.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  website form here
{#  <program-form :item-exists="true" start-mode="edit" prog-id="{{ id }}" :permissions="[{{ permissions }}]"></program-form>#}
</div>
{% endblock %}
