{% extends 'base.html.twig' %}

{% block title %}Map Items{% endblock %}

{% block modulenav %}
  {% include 'map/base_map.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  <map-index :permissions="[{{ permissions }}]"></map-index>
</div>
{% endblock %}
