{% extends 'base.html.twig' %}

{% block title %}Map Items{% endblock %}

{% block body %}
<div id="app">
  <map-index :permissions="[{create: true, edit: true, delete: true}]"></map-index>
</div>
{% endblock %}
