{% extends 'base.html.twig' %}

{% block title %}Edit map item.{% endblock %}

{% block body %}
<div id="app">
  <map-item-form :item-exists="true" item-type="{{ itemType }}" start-mode="edit" item-id="{{ id }}" :permissions="[{{ permissions }}]"></map-item-form>
</div>
{% endblock %}
