{# NO LONGER IN USE AS OF 2025 (hadn't been since 2018) - kept for reference #}

{#{% extends 'base.html.twig' %}#}

{#{% block title %}Create a new request assignee.{% endblock %}#}

{#{% block modulenav %}#}
{#  {% include 'multimedia_request/nav_multimedia_request.html.twig' %}#}
{#{% endblock %}#}

{#{% block body %}#}

{#<h1 class="display-4">Create Assignee</h1>#}
{#<div id="app">#}
{#    {{ encore_entry_script_tags('app') }}#}
{#    <multimedia-assignee-form :item-exists="false" start-mode="edit" :permissions="[{{ permissions }}]"></multimedia-assignee-form>#}
{#</div>#}
{#{% endblock %}#}
