{% extends 'base.html.twig' %}

{% block title %}Multimedia Request Assignees{% endblock %}

{% block modulenav %}
  {% include 'multimedia_request/nav_multimedia_request.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  <multimedia-assignee-index :permissions="[{{ permissions }}]"></multimedia-assignee-index>
</div>
{% endblock %}
