{% extends 'base.html.twig' %}

{% block title %}Multimedia Request Assignees{% endblock %}

{% block modulenav %}
  {% include 'multimedia_request/nav_multimedia_request.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  <!--<map-index :permissions="[{{ permissions }}]"></map-index>-->
</div>
{% endblock %}
