<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <!-- <div id="map-canvas" style="width: 500px; height: 500px;"></div> -->
        <!--<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">IC Command</a>
          <ul class="navbar-nav px-3">
            {% if is_granted('ROLE_GLOBAL_ADMIN') %}
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/admin">Admin</a>
          	</li>
            {% endif %}
          	<li class="nav-item text-nowrap">
              {% if app.user %}
                <a class="nav-link" href="/logout">Log Out</a>
              {% else %}
                <a class="nav-link" href="/login">Log In</a>
              {% endif %}
          	</li>
          </ul>
        </nav>-->
        <nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg">
          <a class="navbar-brand" href="/">IC Command</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
          -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/map/items">Campus Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Emergency App</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Photo Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Redirects</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_GLOBAL_ADMIN') %}
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/admin">Admin</a>
          	</li>
            {% endif %}
            {% if app.user %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username}}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">My Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Log Out</a>
              </div>
            </li>
            {% else %}
              <a class="nav-link" href="/login">Log In</a>
            {% endif %}
          </ul>
        </nav>
        <main role="main" class="container" id="iccommand-content-container">
        {% block modulenav %}{% endblock %}
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
          <script src="{{ asset('build/app.js') }}"></script>
          <script>

            // function CoordMapType(tileSize) {
            //   this.tileSize = tileSize;
            // }
            //
            // CoordMapType.prototype.maxZoom = 19;
            // CoordMapType.prototype.name = 'Tile #s';
            // CoordMapType.prototype.alt = 'Tile Coordinate Map Type';
            //
            // CoordMapType.prototype.getTile = function(coord, zoom, ownerDocument) {
            //   var div = ownerDocument.createElement('div');
            //   div.innerHTML = coord;
            //   div.style.width = this.tileSize.width + 'px';
            //   div.style.height = this.tileSize.height + 'px';
            //   div.style.fontSize = '10';
            //   div.style.borderStyle = 'solid';
            //   div.style.borderWidth = '1px';
            //   div.style.borderColor = '#AAAAAA';
            //   div.style.backgroundColor = '#E5E3DF';
            //   return div;
            // };
            //
            // window.initMap = function() {
            //   var map = new google.maps.Map(document.getElementById('map-canvas'), {
            //     zoom: 10,
            //     center: {lat: 41.850, lng: -87.650},
            //     streetViewControl: false,
            //     mapTypeId: 'coordinate',
            //     mapTypeControlOptions: {
            //       mapTypeIds: ['coordinate', 'roadmap'],
            //       style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
            //     }
            //   });
            //
            //   map.addListener('maptypeid_changed', function() {
            //     var showStreetViewControl = map.getMapTypeId() !== 'coordinate';
            //     map.setOptions({
            //       streetViewControl: showStreetViewControl
            //     });
            //   });
            //
            //   // Now attach the coordinate map type to the map's registry.
            //   map.mapTypes.set('coordinate', new CoordMapType(new google.maps.Size(256, 256)));
            // }
          </script>

        {% endblock %}

    </body>
</html>
