<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          <link href="{{ asset('build/app.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-dark sticky-top bg-dark navbar-expand-lg">
          <a class="navbar-brand" href="/">IC Command</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="iccommand-mainnav-container">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/map/items">Campus Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Emergency App</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Photo Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Redirects</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              {% if is_granted('ROLE_GLOBAL_ADMIN') %}
              <li class="nav-item text-nowrap">
                  <a class="nav-link" href="/admin">Admin</a>
            	</li>
              {% endif %}
              {% if app.user %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ app.user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">My Profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/logout">Log Out</a>
                </div>
              </li>
              {% else %}
                <a class="nav-link" href="/login">Log In</a>
              {% endif %}
            </ul>
          </div>
        </nav>
        <main role="main" class="container" id="iccommand-content-container">
        {% block modulenav %}{% endblock %}
        {% block body %}{% endblock %}
        </main>
        {% block javascripts %}
          <script src="{{ asset('build/app.js') }}"></script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5B3IcIel6XCAq4bwyZpxo6bl1pdUQpN8"></script>
        {% endblock %}

    </body>
</html>
