{% extends 'base.html.twig' %}

{% block title %}EMU Web Communications Applications Suite{% endblock %}

{% block body %}
    <div class="row pb-4">
        <div class="col">
            <div class="float-left pr-4"><img src="/images/e-box.png" width="100px" height="100px"/></div>
            <h1>EMU Web Communications Application Suite</h1>
        </div>
    </div>
    <div id="app">
        {% if currentUsername %}
            <home-page username="{{ currentUsername }}" :userroles="{{ currentUserRoles }}"></home-page>
        {% else %}
            <home-page></home-page>
        {% endif %}
    </div>

{% endblock %}
