{% extends 'base.html.twig' %}

{% block title %}Welcome to ICCommand{% endblock %}

{% block body %}
<div id="app">
  {% if currentUsername %}
    <home-page username="{{ currentUsername }}" :userroles="{{ currentUserRoles }}"></home-page>
  {% else %}
    <home-page></home-page>
  {% endif %}
</div>

{% endblock %}
