{% extends 'base.html.twig' %}

{% block title %}Edit CAS Cycle{% endblock %}

{% block modulenav %}
  {% include 'cas/nav_cas.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  <cas-cycle-form :item-exists="true" start-mode="edit" item-id="{{ id }}" :permissions="[{{ permissions }}]"></cas-cycle-form>
</div>
{% endblock %}
