{% extends 'base.html.twig' %}

{% block title %}CAS App Links{% endblock %}

{% block modulenav %}
  {% include 'cas/nav_cas.html.twig' %}
{% endblock %}

{% block body %}
  <div id="app">
    <cas-link-list :permissions="[{{ permissions }}]" :current-cycle-id="{{ currentCycleId }}"></cas-link-list>
  </div>
{% endblock %}
