{% extends 'base.html.twig' %}

{% block title %}Social Media Links{% endblock %}

{% block modulenav %}
  {% include 'socialmedia/nav_socialmedia.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
    <socialmedia-list :permissions="[{{ permissions }}]"></socialmedia-list>
</div>
{% endblock %}
