<h3 class="module-nav-heading">Social Media Links Application</h3>
<ul class="nav nav-pills module-nav-pills" role="navigation">
  <li class="nav-item">
    <a class="nav-link active" href="/"><i class="fa fa-home"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/social-media">Social media list</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/social-media/create">Add new entity</a>
  </li>
</ul>
