{% extends 'base.html.twig' %}

{% block title %}Redirects Application{% endblock %}

{% block modulenav %}
  {% include 'redirect/nav_redirect.html.twig' %}
{% endblock %}

{% block body %}
  <div id="app">
    <redirect-index :permissions="[{{ permissions }}]"></redirect-index>
  </div>
{% endblock %}
