{% extends 'base.html.twig' %}

{% block title %}Redirects Application Management{% endblock %}

{% block modulenav %}
  {% include 'redirect/nav_redirect.html.twig' %}
{% endblock %}

{% block body %}
<div id="app">
  <h1 class="display-4">Redirects App Management</h1>
  <app-manage role-prefix="ROLE_REDIRECT_" app-slug="redirect" app-name="Redirects App" current-user="{{ app.user.username }}"></app-manage>
</div>
{% endblock %}
